body {
  padding: 25px 0 0;
  margin: 0;
  /* background-color: #1e272e; */
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

.space {
  width: 350px;
  height: 600px;
  margin: 0 auto;
  background-image: url('./img/background01-with-earth-tiny.png');
  /*
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 114, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  */

  position: relative;
}

.status-bar {
  position: absolute;
  top: -17px;
  left: 0;
  width: 350px;
  height: 15px;
  text-align: center;
  background-color: black;
  color: red;
  font-size: 11px;
  font-family: monospace;
}

.weapon {
  width: 40px;
  height: 40px;
  background-image: url('./img/spaceship-red-small.png');
  position: absolute;
}

.asteroid {
  width: 30px;
  height: 30px;
  background-image: url('./img/asteroid01-small-gray.png');
  position: absolute;
}

.explosion {
  width: 30px;
  height: 30px;
  background-image: url('./img/explosion-153710_1280.png');
  position: absolute;
}

.bullet {
  width: 15px;
  height: 30px;
  background-image: url('./img/bullet01-small.png');
  position: absolute;
}

.start-button {
  width: 300px;
  padding: 15px;
  left: 25px;
  top: 250px;
  margin: 0 auto;
  background-color: #2f3640;
  color: #f5f6fa;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  position: absolute;
}

.counter {
  width: 60px;
  height: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  font: outline;
  position: absolute;
}

.missed {
  color: red;
  left: 285px;
  top: 0px;
  text-align: right;
}

.destroyed {
  color: white;
  left: 10px;
  top: 0px;
  text-align: left;
}

.level {
  left: 145px;
  top: 0px;
  padding: 4px 10px 2px 10px;
  font-family: monospace;
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  color: #f5f6fa;
  background-color: #2f3640;
  border-radius: 3px;
  position: absolute;
}

.game-summary {
  width: 300px;
  height: 200px;
  left: 25px;
  top: 55px;
  color: #f5f6fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  text-align: center;
  position: absolute;
}

.game-summary strong {
  font-size: 36px;
  color: yellow;
}

.game-title {
  width: 300px;
  height: 175px;
  left: 25px;
  top: 35px;
  color: yellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  text-align: center;
  position: absolute;
}

.game-title h1 {
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 2px black;
  text-shadow: 2px 2px 4px white;
}

.top-scores {
  /* margin: 0; */
  width: 320px;
  height: 120px;
  left: 15px;
  top: 430px;
  font-size: 12px;
  font-family: monospace;
  color: yellow;
  text-align: center;
  position: absolute;
}

.top-scores h3 {
  margin-top: 0;
}

.top-scores ol {
  margin: 0;
  column-count: 2;
  column-gap: 15px;
  text-align: center;
}

.top-scores li {
  padding: 0;
  text-align: left;
}

.topscores-username {
  display: inline-block;
  min-width: 80px;
  overflow: hidden;
}

.user-login {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 1000;
  height: 150px;
  background: rgba(31, 28, 28, 0.7);
  color: white;
  font-family: monospace;
  font-size: smaller;
  text-align: center;
}

.user-login h3 {
  color: yellow;
}

.user-login-form {
  text-align: left;
  width: 85%;
  margin: auto;
  padding: 0;
}

.user-login-form label {
  margin: 25px 0 10px;
  display: block;
}

.user-login-form input {
  box-sizing: content-box;
  display: inline-block;
  min-width: 150px;
  height: 26px;
  margin-right: 15px;
  /* line-height: 15px; */
  padding-left: 5px;
  font-size: 13px;
  font-family: monospace;
  font-weight: 700;
  background-color: black;
  color: #eeeeee;
  border: 3px solid #2f3640;
  border-radius: 3px;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 100;
}

@keyframes blinking {
  50% {
    border-color: #dddddd;
  }
}

.user-login-form button {
  background-color: rgba(68, 67, 67, 0.7);
  /* height: 24px; */
  border: 1px solid whitesmoke;
  border-radius: 3px;
  color: white;
  font-family: monospace;
  font-size: 13px;
  padding: 6px 7px;
  margin: 0;
  cursor: pointer;
  transition: background-color 180ms ease-out;
  transition: color 180ms ease-in-out;
}

.user-login-form button:hover {
  background-color: whitesmoke;
  color: black;
}

.footer {
  width: 350px;
  background-color: #2f3640;
  color: #f5f6fa;
  margin: 15px auto;
  font-family: monospace;
  font-size: 10px;
  text-align: center;
}

.footer p {
  padding: 4px 0px;
}

.footer a,
a:visited {
  color: #f5f6fa;
}

.move-control {
  position: fixed;
  width: 50px;
  height: 50px;
}

.right {
  bottom: 15px;
  right: 5px;
  background-image: url('./img/Icon_Arrow_Right_256x256.png');
  background-size: contain;
}

.left {
  bottom: 15px;
  left: 5px;
  background-image: url('./img/Icon_Arrow_Left_256x256.png');
  background-size: contain;
}

.fire-control {
  position: fixed;
  width: 60px;
  height: 80px;
  bottom: 75px;
  right: 5px;
  background-image: url('./img/256px-HAL9000.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 550px) {
  body {
    padding-top: 30px;
    background-image: url('./img/background-3907970_1920-tiny.jpg');
    background-position: top;
    background-repeat: no-repeat;
  }

  .space {
    border: 1px grey solid;
  }
}
